#provider{
	width: 239px;
	padding: 0 30px 0 0;
	float: center;
	border-right: 0px solid #ddd;
}

#provider img{
	width: 150px;
}
/* Search Styles */

.search {
  background: #09A9D2;
/*  color: #EEE8D5;*/
  width: 90%;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  z-index: 20;
}

.search h1 {
  color: #EEE8D5;
}
.search label {
  color: #EEE8D5;
}
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
